.card {
    border-color: black;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    margin-right: 500px;
    background: rgb(255, 255, 255);
  }
  
  .profile-name {
    margin-left: 20px;
  }
  
  .about-me {
    margin: 20px;
  }
  
  .profile-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  
  .skills li {
    background: #fbed2e;
    border: 2px solid #ccc;
    border-radius: 10px 10px 10px 10px;
    margin: 5px; 
    padding: 2px;
  }
  